version: '3.8'
services:
  web:
    image: python3.8:latest
    build:
      context: .
      network: host
#    command: python /code/manage.py runserver 0.0.0.0:8000
    command: gunicorn blog_project.wsgi -b 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - ./.env.dev
    depends_on:
      - db



  db:
    image: "postgres:12.2"
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:


